In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import scipy.stats as st

In [15]:
coal_df = pd.read_excel('Resources/coal.xlsx')
natural_gas_df = pd.read_excel('Resources/Natural_Gas.xlsx')
nuclear_df = pd.read_excel('Resources/Nuclear_Energy.xlsx')
petroleum_df = pd.read_excel('Resources/Petroleum.xlsx')
renewables_df = pd.read_excel('Resources/Renewable_Energy.xlsx')

    U.S. Energy Information Administration Unnamed: 1 Unnamed: 2 Unnamed: 3  \
0       October 2020 Monthly Energy Review        NaN        NaN        NaN
1                                      NaN        NaN        NaN        NaN
2                                        0        NaN        NaN        NaN
3                                      NaN        NaN        NaN        NaN
4           Release Date: October 27, 2020        NaN        NaN        NaN
..                                     ...        ...        ...        ...
577                    2020-03-01 00:00:00         96     98.119      63997
578                    2020-04-01 00:00:00         95     97.103      59170
579                    2020-05-01 00:00:00         95     97.103      64338
580                    2020-06-01 00:00:00         95     97.121      67205
581                    2020-07-01 00:00:00         95     97.121      69385

    Unnamed: 4 Unnamed: 5
0          NaN        NaN
1          NaN        NaN
2          NaN        NaN
3          NaN        NaN
4          NaN        NaN
..         ...        ...
577       20.9       87.7
578       21.5       83.9
579       21.2       89.1
580         19       96.1
581       16.8         96

[582 rows x 6 columns]

,MSN,YYYYMM,Value,Column_Order,Description,Unit
0,CLPRPUS,194913,480570,1,Coal Production,Thousand Short Tons
1,CLPRPUS,195013,560388,1,Coal Production,Thousand Short Tons
2,CLPRPUS,195113,576335,1,Coal Production,Thousand Short Tons
3,CLPRPUS,195213,507424,1,Coal Production,Thousand Short Tons
4,CLPRPUS,195313,488239,1,Coal Production,Thousand Short Tons
...,...,...,...,...,...,...
5147,CLTCPUS,202005,29787.261,8,Coal Consumption,Thousand Short Tons
5148,CLTCPUS,202006,39902.388,8,Coal Consumption,Thousand Short Tons
5149,CLTCPUS,202007,53263.459,8,Coal Consumption,Thousand Short Tons
5150,CLTCPUS,202008,Not Available,8,Coal Consumption,Thousand Short Tons
5151,CLTCPUS,202009,Not Available,8,Coal Consumption,Thousand Short Tons